.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logoText {
  font-size: 20px;
  color: #A16BFF;
  transition: 0.5s;
  font-family: "Futura PT";
  font-weight: 700;
}

.logoPlus {
  color: #62A740;
}

.logoText:hover {
  color: #A16BFF;
}

/* @media (max-width: 320px) {
  .logoText {
      font-size: 10px;
  }
  .logoContainer > img {
    width: 20px;
  }
} */